<div class="product-card">
  <div class="product-card__details">
    <p><%= product.name %></p>
    <p><%= price_formatter(product.price) %></p>
  </div>

  <%= button_to t("product.card.button"),
    cart_path(product_id: product.id),
    method: "patch"
  %>
</div>
