<div class="product-card">
  <div class="product-card__details">
    <p><%= product.name %></p>
    <p><%= price_formatter(product.price) %></p>
  </div>

  <% if product_page %>
    <%= button_to t("product.card.button"),
      cart_path(product_id: product.id),
      method: "patch"
    %>
  <% end %>
</div>
