<div class="product-card">
  <div class="product-card__details">
    <p><%= product.name %></p>
    <p><%= price_formatter(product.price) %></p>
  </div>

  <% if product_page %>
    <%= button_to t("product.card.add_to_cart"),
      cart_path(product_id: product.id),
      method: "patch"
    %>
  <% else %>
    <%= button_to t("product.card.remove"),
      cart_path(product_id: product.id),
      method: "delete"
    %>
  <% end %>
</div>
