.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border: 1px solid var(--blue);
  background: var(--grey);
  border-radius: 4px;
  margin-bottom: 20px;

  &__details {
    display: flex;
    flex-direction: column;

    p {
      margin: 5px;
    }
  }
}