.product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border: 1px solid lightskyblue;
  border-radius: 4px;
  margin-bottom: 20px;

  &__details {
    display: flex;
    flex-direction: column;

    p {
      margin: 5px;
    }
  }
}