<div class="product-page">
  <div class="product-page__header">
    <h1><%= t("product.index.title") %></h1>
    <%= link_to t("product.index.view_cart"), cart_path %>
  </div>

  <%= render partial: "./shared/product_card",
    collection: @view.products,
    locals: { product_page: true },
    as: "product"
  %>
</div>
